html {
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    color: #000;
    font-family: "Raleway", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

img {
    width: 100%;
}